// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1f6482;
$yellow: #FFC65A;
$orange: #FFA41B;
$green: #CAE8D5;
$gray: #0E0000;
$light-gray: #F4F4F4;
$second-color: #E04D01
;

