<div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Nouveau produit</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="col-8 m-3">
  <%= simple_form_for(product,
                        data: {
                                create_target: "form",
                                action: "submit->create#send"
                                }) do |f| %>
    <%= f.input :name, label: false, input_html: {placeholder: 'nom du produit', data: { create_target: 'input'}}  %>
    <%= f.button :submit, class: 'btn btn-outline-primary', data: {
                                                                  disable_with: false,
                                                                  bs_dismiss: 'modal'
                                                                  } %>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <% end %>
</div>
