<div class='sidebar me-4 text-center border border-top-0 border-start-0 border-bottom-0' style="width:100px; height:300px;" >
    <div class="side-link p-1" >
      <%= link_to "#" do %>
        <i class="fa-solid fa-basket-shopping" style="font-size:18px"></i><span class="appear-link ms-2"> ACHAT </span>
      <% end %>
    </div>
    <div class="side-link p-1">
      <%= link_to "#" do %>
        <i class="fa-solid fa-vial-circle-check" style=" font-size:18px"></i></i><span class="appear-link ms-2"> QUALITE </span>
      <% end %>
    </div>
    <div class="side-link p-1">
      <%= link_to "#" do %>
        <i class="fa-solid fa-cash-register" style="font-size:18px"></i></i><span class="appear-link ms-2"> VENTE </span>
      <% end %>
    </div>
</div>
<%#  mb-5 p-1 %>
