<div class="alert alert-primary alert-dismissible fade show m-1" role="alert">
  <%= "Lots bien enregistré" %>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
  </button>
</div>


 <div class="card-product mt-3">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2><%= batch.number %></h2>
    <p>Product description with <strong>relevant info</strong> only.</p>
  </div>
</div>
