.navbar-lewagon {
  // justify-content: space-between;
  background: #1f6482;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-brand {
  flex-grow: 1;
  text-align: center;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color:white;
  background: #1f6482;
  font-weight: bold;
}
