.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #D6EFED;
  border-top: 2px solid $second-color !important;
  .appear-link{
    display: none;
    opacity: 0;
    transition: ease 5s;
    font-size: 12px;
  }
  .side-link{
    color: $second-color;
    display: flex;
    flex-direction: column;
    a{
      text-decoration: none;
      color: $second-color;
    }
  }
  .side-link:hover {
    border-right: 4px solid $second-color;
  }

  .side-link:hover .appear-link{
    display: inline-block;
    opacity:1;
  }

  .active {
    border-right: 4px solid $second-color;
    .appear-link {
      display: inline-block;
      opacity:1;
    }
  }
}
