.sidebar-log{
  position: sticky !important;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #D6EFED;
  min-height: calc(100vh - 120px);
  max-height: 100vh;
  .side-tabs{
    margin: 40px 0;
    width: 100%;

  }
  .appear-link{
    display: inline-block;
    opacity: 0;
    transition: ease .4s;
    font-size: 12px;
  }
  .side-link{
    color: $second-color;

    a{
      text-decoration: none;
      color: $second-color;
    }
  }
  .side-link:hover,
  .active {
    border-right: 4px solid $second-color;
    .appear-link{
      opacity:1;
      padding: 5px;
    }
  }
}
