.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: #D6EFED;
  .side-tabs{
    top: 0;
    width: 100%;
    height: calc(100vh - 120px);
  }
  .appear-link{
    display: inline-block;
    opacity: 0;
    transition: ease 1.4s;
    font-size: 12px;
  }
  .side-link{
    color: $second-color;

    a{
      text-decoration: none;
      color: $second-color;
    }
  }
  .side-link:hover,
  .active {
    border-right: 4px solid $second-color;
    .appear-link{
      opacity:1;
      padding: 5px;
    }
  }
}
