  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= "Une erreur c'est produite, le document n'a pas été enregistré" %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
