<div class="m-4"data-controller="create" data-create-target="index" >
  <div class="container">
    <div class="row">

<!-- Button trigger modal -->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#productModal" style="width:350px;">
        <i class="fa-sharp fa-solid fa-plus"></i> Ajouter un nouveau produit
      </button>

<!-- Modal -->
      <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="productModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Nouveau produit</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="col-8 m-3">
              <%= simple_form_for(product,
                                    data: {
                                            create_target: "form",
                                            action: "submit->create#send"
                                            }) do |f| %>
                <%= f.input :name, label: false, input_html: {placeholder: 'nom du produit', data: { create_target: 'input'}}  %>
                <%= f.button :submit, class: 'btn btn-outline-primary', data: {
                                                                              disable_with: false,
                                                                              bs_dismiss: 'modal'
                                                                              } %>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div data-create-target='insert'></div>
    <div data-content-target="insertCard"></div>
</div>
